.blitz {
  border: 1px solid #cccccc;
  clear: both;
  font-size: 12px;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  margin: 0 0 20px 0;
  opacity: 100;
  overflow: hidden;
  padding: 0;
  position: relative;
  text-align: left;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: opacity 0.4s, height 0.4s;
  -moz-transition: opacity 0.4s, height 0.4s;
  transition: opacity 0.4s, height 0.4s; }
  .blitz.hide {
    height: 0;
    opacity: 0; }
  .blitz.notice {
    background: #a7eeff;
    border: 1px solid #74e6ff;
    color: #00738d; }
    .blitz.notice a {
      color: #0088a7; }
    .blitz.notice .blitz-spinner {
      border-color: #00738d;
      border-top-color: rgba(255, 255, 255, 0.5); }
  .blitz.alert {
    background: #ff7070;
    border: 1px solid #ff3d3d;
    color: #560000; }
    .blitz.alert a {
      color: #700000; }
    .blitz.alert .blitz-spinner {
      border-color: #560000;
      border-top-color: rgba(255, 255, 255, 0.5); }
  .blitz.success {
    background: #69c83a;
    border: 1px solid #54a22d;
    color: #0a5d2d; }
    .blitz.success a {
      color: #0a5d2d; }
    .blitz.success .blitz-spinner {
      border-color: #0a5d2d;
      border-top-color: rgba(255, 255, 255, 0.5); }

.blitz-message {
  padding: 20px 0 20px 20px; }
  .blitz-message a {
    font-weight: bold;
    text-decoration: underline; }

.blitz-spinner {
  border-radius: 100%;
  border: 2px solid rgba(100, 100, 100, 0.5);
  border-top-color: rgba(255, 255, 255, 0.5);
  display: block;
  height: 20px;
  margin: 5px;
  position: absolute;
  right: 9px;
  top: 1px;
  width: 20px;
  z-index: 1000;
  -webkit-animation: rotation 1.5s linear infinite;
  -moz-animation: rotation 1.5s linear infinite;
  -o-animation: rotation 1.5s linear infinite;
  animation: rotation 1.5s linear infinite; }
  .blitz-spinner.hide {
    display: none; }

.blitz-close {
  font-size: 1.5em;
  font-weight: bold;
  line-height: 34px;
  position: absolute;
  right: 20px;
  text-decoration: none;
  top: 0;
  z-index: 1001; }

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg); }

  50% {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg); }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-moz-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg); }

  50% {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg); }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg); }

  50% {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg); }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg); } }
